<header>
    <mat-toolbar class="toolbar">
        <button *ngIf="isLoggedIn" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Styli</span>
        <span class="toolbar__spacer"></span>
        <button *ngIf="!isLoggedIn; else logout" mat-icon-button (click)="onLogInBtnClick()">
            <mat-icon>login</mat-icon>
        </button>
        <ng-template #logout>
            <button mat-icon-button (click)="onLogOutBtnClick()">
                <mat-icon>logout</mat-icon>
            </button>
        </ng-template>
    </mat-toolbar>
</header>

<main class="main">
    <div *ngIf="isLoggedIn; else mainNotLoggedIn" class="main__logged-in">
        <app-editor (saveSuccessEvent)="handleSaveSuccess()" ></app-editor>
        <app-gallery [saveSuccess]="saveSuccess.asObservable()"></app-gallery>
    </div>
    <ng-template #mainNotLoggedIn>
        <div class="main__logged-out">
            You need to log in
        </div>
    </ng-template>
</main>

