.toolbar {
    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    height: 5rem;

    &__spacer {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

.main {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    padding-top: 5rem;

    color: var(--color-grey-light-1);
    font-size: 2rem;
    background-color: var(--color-primary-light);
}
