.form-container {
    width: auto;
    height: 100vh;
    margin: auto;

    background-color: var(--color-primary);

    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

    & .mat-card-title {
        text-align: center;
    }
}

.form {
    display: grid;
    justify-items: center;
}
