:root {
    --color-primary: #4649FF;
    --color-primary-dark: #1D1CE5;
    --color-primary-light: #7978FF;

    --color-secondary: #C47AFF;

    --color-grey-light-1: #F9F7F6;
    --color-grey-light-2: #AAA;

    --color-grey-dark-1: #54483A;
    --color-grey-dark-2: #6D5D4B;

    --font-primary: "Nunito", sans-serif;
}
