:root {
    --color-primary: #1D1E22;
    --color-primary-dark: #060606;

    --color-secondary: #C75485;

    --color-grey-light-1: #F9F7F6;
    --color-grey-light-2: #AAA;

    --color-grey-dark-1: #54483A;
    --color-grey-dark-2: #6D5D4B;

    --font-primary: "Nunito", sans-serif;
}
